* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.carousel {
    background: rgba(0, 0, 0, 0);
}
.carousel-cell {
    width: 100%;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}
.carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
            transition: opacity 0.3s, transform 0.3s, filter 0.3s;
  }

/* brighten selected image */
.carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
}
/* buttons, no circle */
.flickity-prev-next-button {
    width: 15px;
    height: 15px;
    background: transparent;
    opacity: 0.6;
}
.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}
.flickity-prev-next-button.no-svg {
    color: white;
}

@media all and (min-width: 267px) {
    .flickity-prev-next-button {
        width: 25px;
        height: 25px;
    }
}
@media all and (min-width: 500px) {
    .flickity-prev-next-button {
        width: 45px;
        height: 45px;
    }
}
@media all and (min-width: 501px) {
    .flickity-prev-next-button {
        width: 60px;
        height: 60px;
    }
}