.edificios{
    text-align: center;
	color: black;
}
.edificios:visited{
	color:purple;
}
.edificios:hover{
	color: #99F;
}

.volver{
	text-decoration: underline;
  	float: right;
  	font-size: 1.2vh;
}
.volver:visited{
	color: purple;
}
.volver:hover{
	color: #99F;
}

.iframe-video{
    min-width: 100px;
    min-height: 70px;
    width: 150px;
    height: 70px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  /* Create four equal columns that sits next to each other */
.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Tablet */
@media all and (min-width: 267px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
    .iframe-video{
        width: 250px;
        height: 150px;
    }
	.volver{
		font-size: 2vh;
	}
}
@media all and (min-width: 490px){
    .iframe-video{
        width: 450px;
        height: 300px;
    }
}
/* Desktop Menu */
@media all and (min-width: 960px) {
    .column {
        flex: 25%;
        max-width: 25%;
    }
    .iframe-video{
        width: 550px;
        height: 350px;
    }
	.volver{
        font-size: 2vh;
    }
}